

.banner{
    width: 1850px;
    height: 153px;
    float: left;
    margin-left: 0 0 0 50px;  
    margin: 0 0 0 10px;
    border-radius:5px;
    background-color:#2E2E30;
    background-image: url(img/logo.jpg); 
    background-repeat: no-repeat;
   
}
.banner h2{
    font-size: 70px; 
    text-align: center; 
    color: #C1845F; 
    font-family: 'Times New Roman', Times, serif;
   
    
}
.menu{
    width: 1500px;
    height: 70px;
    float: left;
    margin:5px 0 0 10px ;
    border-radius:5px;
    background-color:#2E2E30;
}




.sosyal{
    width: 300px;
    height: 47px;
    float: left;
    margin:5px 0 0 10px ;
    border-radius:5px;
}

.slider{
    width: 1850px;
    height: 600px;
    float: left;
    margin:10px 0 0 10px ;
    background-color: burlywood;
    border-radius:5px;
    background-image: url(img/bg-masthead.jpg);
    background-color: rgba(red, green, blue, 0.9);
    
    
}
.slider h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: seashell;
    
}
.slider p{
    text-align: center;
    color: seashell;
    font-size: 20px;
    
    
}

.orta2 , .orta3 , .orta4 , .orta5 , .orta6 , .orta7 , .orta8 , .orta9 , .orta10 , .orta11 , .orta12 , .orta13 , .orta14{
    padding:20px;
    width: 350px;
    height: 350px;
    float: left;
    margin:10px 0 0 10px ;
    background-color: rgb(236, 192, 133);
    border-radius:5px;
    line-height: 20px;
}
.orta2:hover , .orta3:hover , .orta4:hover , .orta5:hover , .orta6:hover , .orta7:hover , .orta8:hover , .orta9:hover , .orta10:hover , .orta11:hover , .orta12:hover , .orta13:hover , .orta14:hover{
    background-color: rgb(143, 146, 149);
}
.orta2acıklama , .orta3acıklama , .orta4acıklama , .orta5acıklama , .orta6acıklama , .orta7acıklama , .orta8acıklama , .orta9acıklama , .orta10acıklama , .orta11acıklama , .orta12acıklama , .orta13acıklama , .orta14acıklama{
    padding:20px;
    width: 1455px;
    height: auto;
    float: left;
    margin:10px 0 0 10px ;
    background-color:rgb(142, 151, 161);
    border-radius:5px;
    font-size: 18px;
}
.hak{
    background-color: saddlebrown;
}



.alt{
    width: 740px;
    height: 90px;
    float: left;
    margin-top: 10px;
    border-radius:5px;
    
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    width: 250px;
    height:45px;
    text-decoration: none;
    text-align: center;
    font-weight: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 25px;
    padding-left: 70px;

}
.menu ul li a:hover{
    text-decoration: underline;
    background:rgb(72, 80, 88);

}
.hakkımızda{
    padding:20px;
    width: 1455px;
    height: 350px;
    float: left;
    margin:10px 0 0 10px ;
    background-color:rgb(142, 151, 161);
    border-radius:5px;
    font-size: 18px;

}
.iletisim{
    padding:20px;
    width: 1455px;
    height: 350px;
    float: left;
    margin:10px 0 0 10px ;
    background-color:rgb(142, 151, 161);
       border-radius:5px;
    font-size: 18px;

}



